*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  background-color: #d76447;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  height: 97vh;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Mordak";
  src: url("font/Mordak Regular.otf") format("opentype");
  font-weight: normal;
  unicode-range: U+0020-007E; /* Standard ASCII-tecken */
}

@font-face {
  font-family: "FallbackBold";
  src: url("font/MadimiOne-Regular.ttf") format("truetype");
  font-weight: bolder;
  unicode-range: U+00C5, U+00C4, U+00D6, U+00E5, U+00E4, U+00F6; /* ÅÄÖ i både versaler & gemener */
}
@font-face {
  font-family: "Jersey15";
  src: url("font/Jersey15-Regular.ttf") format("truetype");
  font-weight: normal;
}

h1 {
  font-size: 5rem;
  font-family: "Mordak", "FallbackBold", sans-serif;
  font-weight: normal;
}

h2 {
  font-family: "Jersey15", "Helvetica", sans-serif;
  font-weight: normal;
  /* font-size: 5rem; */
}

p,
label,
select,
button,
input,
textarea {
  font-size: 1.6rem;
}
.p-blue {
  display: inline;
  font-weight: bold;
  color: #2f6f8a;
}
.container {
  width: 80vw;
  margin-top: 3vh;
  margin-left: 8vw;
}

.header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "headerbox0 headerbox1 headerbox2"
    "headerbox3 headerbox4 headerbox5"
    "headerbox6 headerbox7 headerbox7";
  background-color: #d76447;
}
#headerbox0 {
  position: relative;
  grid-area: headerbox0;
  background: linear-gradient(to bottom, #306181, #416e8a);
  border-top: clamp(2px, 0.2vw, 5px) solid #5e90a5;
  border-left: clamp(2px, 0.2vw, 5px) solid #45839e;

  /* box-shadow: -1px -1px 0 0 black; */
}

#headerbox1 {
  grid-area: headerbox1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #306181, #416e8a);
  border-top-right-radius: 100px;
  border-top: clamp(2px, 0.2vw, 5px) solid #5e90a5;
  gap: 1px;
  margin-bottom: -1px;
}
#start-page {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

#headerbox2 {
  grid-area: headerbox2;
  position: relative;
  border-bottom: 1.3px solid #255870;
  /* box-shadow: 0 1px 0 0 #255870; */

  margin-bottom: 0px;
  position: relative;
}
#headerbox3 {
  grid-area: headerbox3;
  border-top: clamp(1px, 0.2vw, 2.5px) solid #45839e;
  box-shadow: 0 -1px 0 0 #255870;
  background: linear-gradient(to bottom, #265870, #33607f);
  width: 3vw;
  position: relative;
}
#headerbox3::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: #d76447;
  border: 0.1px solid black;
  /* outline: 1px solid red; */
  /* box-shadow: 5px solid red; */
  overflow: hidden;
  border-radius: 50%;
  bottom: -100%; /* Flyttar cirkeln ner så att dess centrum är i boxens hörn */
  left: -100%; /* Flyttar cirkeln åt vänster så centrum hamnar i boxens hörn */

  clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 50%, 50% 50%);
}

#headerbox4 {
  grid-area: headerbox4;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, #265870, #33607f);
  border-bottom: clamp(1px, 0.2vw, 2.5px) solid #000000;
  border-top: clamp(1px, 0.2vw, 2.5px) solid #4b7993;
  box-shadow: 0 -1px 0 0 #255870;
  justify-content: center;
  align-items: center;
}

#headerbox4 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15%;
  justify-content: center;
  align-items: center;
}

#headerbox4 img {
  max-width: 60px;
  min-width: 3vw;
  max-height: 53.3px;
  object-fit: contain;
}
.seperator {
  font-family: "Arial", "Segoe UI Symbol", "Noto Sans Symbols", sans-serif;
  font-size: clamp(1rem, 2.4vw, 3rem); /* font-size: 2.4vw; */
  color: #2e5f7e;
  opacity: 0.25; /* Gör texten lite genomskinlig */
  display: inline-block;
  transform: scaleX(3);
  text-shadow: 0.2px 0.6px 0.4px rgba(255, 255, 255, 1),
    /* Skugga nedåt */ -0.2px -0.8px 0.4px rgba(0, 0, 0, 1); /* Ljusare skugga upptill */
  text-align: center;
  margin: -3px 0;
}

#headerbox5 {
  grid-area: headerbox5;
  height: auto;
  text-align: right;
  align-self: flex-end;
  padding: 0 0.5%;
  background: linear-gradient(to bottom, #265870, #33607f);
  border-right: clamp(1px, 0.2vw, 1.5px) solid #000000;
  border-bottom: clamp(1px, 0.2vw, 2.5px) solid #000000;
  border-top: clamp(1px, 0.2vw, 2.5px) solid #4b7993;

  /* border-bottom: clamp(1px, 0.2vw, 2.5px) solid #45839e; */
  /* outline: 1.3px solid #255870; */
}

#headerbox5 h1 {
  font-size: 3rem;
  color: #33607f;
  padding-right: 1vw;
  -webkit-text-stroke: clamp(0.5px, 0.1vw, 1.5px) black; /* -webkit-text-stroke: 0.5px black; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: -2px;
}
#headerbox6 {
  grid-area: headerbox6;
}
#headerbox7 {
  grid-area: headerbox7;
  margin-left: -0.5px;
  border-bottom: clamp(1px, 0.2vw, 1.5px) solid black;
}

#fname {
  color: #d76447;
  margin-top: -5px;
  margin-bottom: -15px;
  text-shadow: -1px -1px 0px #d76447d3;
  letter-spacing: -5px;
  -webkit-text-stroke: clamp(0.5px, 0.1vw, 2px) black;
  position: relative;
}

#lname {
  color: #5a88a3;
  padding-right: 6vw;
  margin-top: -5px;
  margin-bottom: -15px;
  text-shadow: -1px -1px 0px #5a88a3;
  letter-spacing: -5px;
  -webkit-text-stroke: clamp(0.5px, 0.1vw, 2px) black;
}

.nav {
  display: flex;
  background-color: #d76447;
  padding-bottom: 5%;
  border-bottom: 1px solid #000000;
}

.nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.nav li {
  background: linear-gradient(to bottom, #33607f, #265870);
  border: clamp(1px, 0.2vw, 2.5px) solid black;
  border-top-color: #4f88a1;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 19.5%;
  min-width: auto;
}

.nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: "Jersey15", "Helvetica", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: rgb(255, 249, 240);
  margin-top: -3%;
  margin-bottom: -3%;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: clamp(1px, 0.2vw, 2.5px) solid black;
  border-right: clamp(1px, 0.2vw, 2.5px) solid black;
  width: 100%;
  background: linear-gradient(to bottom, #2f6f8a, #648391);
  padding: 0px;
  border-top: clamp(2px, 0.2vw, 5px) solid #4f88a1;
}

.nav li a,
.section-header h2,
.facts-border h2,
.form-header h2 {
  font-size: 2.5rem;
}
.section-header h2,
.facts-border h2,
.form-header h2 {
  margin: 0;
  padding-left: 1%;
  padding-right: 1%;
  color: rgb(255, 249, 240);
  margin-top: -0.5%;
  margin-bottom: -0.5%;
}
.form-header h2 {
  padding-left: 2%;
  padding-right: 2%;
}

main {
  background-color: #d76447;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 3vw;
}
.infoandpic {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Säkerställer att allt börjar högst upp */
  /* align-items: center; */
  border: clamp(1px, 0.2vw, 2.5px) solid black;
  background-color: #f8f8f8;
  width: 100%;
}

#me-img {
  width: 20%;
  object-fit: contain;
  height: auto;
  display: block;
  border: clamp(1px, 0.2vw, 2.5px) solid #8f8b8b;
  box-sizing: border-box;
  margin: 3% 0 3% 3%;
  padding: 0.5%;
}

.main-info {
  display: flex;
  align-self: center;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 0% 3%;
  margin: 3% 0;
  flex: 1;
}

.facts-border {
  width: 100%;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #2f6f8a, #648391);
  border: clamp(1px, 0.2vw, 2.5px) solid black;
  border-top: clamp(2px, 0.2vw, 5px) solid #4f88a1;
  color: rgb(255, 249, 240);
}

.facts {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tre jämnt fördelade kolumner */
  gap: 1vw;
  border: clamp(1px, 0.2vw, 2.5px) solid black;
  border-top: none;
  background-color: #f8f8f8;
  width: 100%;
  justify-content: space-around;
  margin: 0px 0;
}
.facts-column {
  padding: 15px;
}
.facts p {
  margin-bottom: 5%;
}
p.orange {
  color: #d76447;
  font-weight: bold;
  margin-bottom: 0;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #d76447;
  text-align: right;
  font-size: 12px;
  color: #1a3d4b;
  padding: 1px 1px 10px 1px;
}

/*<---------------- Referens ---------------------->*/

#guestbook {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 100vh;
  background: #f8f8f8;
  border: clamp(1px, 0.2vw, 2.5px) solid black;
  padding: 20px;
  align-items: flex-start;
}

#guestbook-form {
  display: flex;
  max-height: 100%;
  flex-direction: column;
  margin-left: auto;
  gap: 3px;
  border: clamp(1px, 0.2vw, 2.5px) solid black;
  margin-bottom: 20px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, #2f6f8a, #648391);
  padding: 0px;
  border-top: 1px solid #4f88a1;
}
#guestbook-form label {
  margin-right: 10px;
}
.gender-age-container,
.alias-container {
  display: flex;
  flex-direction: row;
  margin: 0 3%;
}
.referece-message-container {
  display: flex;
  flex-direction: column;
  margin: 0 3%;
  max-height: 40%;
}
#reference-message-input {
  width: 100%;
}

.gender-age-container {
  display: flex;
  gap: 20px;
}
.age-container {
  display: flex;
  flex: 1;
}
#name,
#age,
#gender {
  width: 100%;
}
.gender-container {
  display: flex;
  flex: 1;
}
#gender,
#age {
  margin-left: 5%;
}

.button-container {
  display: flex;
  margin-top: auto;
  justify-content: right;
}
.submit-button {
  background: #d76447;
  color: #fff;
  border: none;
  border-radius: 10px 0 0 0;
  cursor: pointer;
  background: linear-gradient(to bottom, #2f6f8a, #648391);
  padding: 0.1vh 1vw;
  border-top: 1px solid #4f88a1;
  font-family: "Jersey15", "Helvetica", sans-serif;
  font-weight: normal;
  margin: 0;
  color: rgb(255, 249, 240);
}
.small-arrows {
  font-size: 0.6em; /* Gör pilarna 80% av textstorleken */
}

.form-label {
  font-weight: bold;
  color: #d76447;
}
#no-contact-text {
  width: fit-content; /* Gör att den bara tar upp plats efter innehåll */
  margin: 0 auto; /* Centrerar horisontellt */
}
/* #form-label-gender {
  margin-right: 10%;
} */

/*--------------------Referens entries----------------------*/

#guestbook-entries {
  max-height: 88vh;
  min-width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 20px;
}
.inline-p {
  display: inline;
}

#entries-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.guestbook-entry {
  display: flex;
  background: #f8f8f8;
  margin-bottom: 10px;
}

.profile-pic {
  height: auto; /* Behåller proportionerna */
  width: auto; /* Gör den responsiv */
  max-width: 8vw; /* Begränsar maxbredden */
  min-height: 100%;
  aspect-ratio: 150 / 190; /* Originalförhållande */
  object-fit: cover; /* Behövs inte här men kan vara bra om du klipper bilden */
  border: solid 1px #000000;
  margin-right: 10px;
}

.entry-content {
  flex: 1;
  width: auto;
  max-width: 100%;
  word-wrap: break-word; /* Ser till att text bryts om den blir för bred */
  align-self: flex-start;
  gap: -10px;
}
.entry-content p {
  margin: 0;
  line-height: 1.2;
}

/*-------------PORTFOLIO-----------------------------*/

#portfolio-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border: clamp(1px, 0.2vw, 2.5px) solid black;
  padding: 20px;
  align-items: center;
}

#portfolio-header {
  align-self: center;
  margin-bottom: 20px;
}
.portfolio-ul {
  list-style: none;
  padding: 0%;
}
.portfolio-ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.portfolio-button {
  position: relative; /* Gör att barn kan positioneras fritt */
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 5vw;
  height: auto;
  aspect-ratio: 1/1; /* Fyrkantig */
  border: 0.45vw solid #2f6f8a;
  border-radius: 50%;
  cursor: pointer;
}
.portfolio-button:hover {
  border: 0.25vw solid #2f6f8a;
}

.github-icon {
  position: absolute;
  width: 5vw;
  aspect-ratio: 1 / 1;
  margin-bottom: -18%;
}

#cv-icon {
  position: absolute;
  width: 5vw;
  aspect-ratio: 1 / 1;
}

/*-------------Kunskap-----------------------------*/
#knowledge {
  width: 100%;
  max-height: 100vh;
  background-color: #f8f8f8;
  border: clamp(1px, 0.2vw, 2.5px) solid black;
  padding: 20px;
}
#knowledge .p-blue {
  text-align: center; /* Centrerar texten inuti */
  display: block; /* Gör att margin fungerar */
  width: fit-content; /* Anpassar bredden efter innehållet */
  margin: 0 auto; /* Centrerar horisontellt */
}
#text-and-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
}
#knowledge-text {
  border: 3px solid red;
  box-shadow: 0 0 0 6px blue;
  outline: 3px solid green;
  /* filter: drop-shadow(0px 0px 1px black); */
}
#knowledge-text p {
  margin-bottom: 20px;
}

#knowledge-text ul {
  list-style: none;
  padding-left: 0;
}
#knowledge-text ul li {
  position: relative;
  font-size: 2rem;
  padding-left: 55px; /* Skapar utrymme för symbolen */
}
#knowledge-text ul li::before {
  content: "</>";
  position: absolute;
  left: 0;
  font-size: 2rem;
  color: #2f6f8a;
  font-weight: bold;
}

#knowledge-pic {
  display: flex;
  width: 23vw;
  height: auto;
  object-fit: contain;
}

/*-------------Kontakt-----------------------------*/

#contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 125vh;
  background-color: #f8f8f8;
  border: clamp(1px, 0.2vw, 2.5px) solid black;
  padding: 20px;
}

#contact-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contact-details {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#contact-ul {
  list-style: none;
  padding: 0%;
}
#contact-ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-button {
  position: relative; /* Gör att barn kan positioneras fritt */
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 5vw;
  height: auto;
  aspect-ratio: 1/1; /* Fyrkantig */
  border: 0.45vw solid #2f6f8a;
  border-radius: 50%;
}

#phone-icon {
  position: absolute;
  width: 5vw;
  aspect-ratio: 1 / 1;
}
#mail-icon {
  position: absolute;
  width: 5vw;
  aspect-ratio: 1 / 1;
}
#linkedin-button {
  cursor: pointer;
}
#linkedin-button:hover {
  border: 0.25vw solid #2f6f8a;
}
#linkedin-icon {
  position: absolute;
  width: 5vw;
  aspect-ratio: 1 / 1;
  color: #2f6f8a;
}
.margin-p {
  margin-left: 3%;
  display: inline;
}
#weather-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  width: 200px;
  margin-bottom: 20px;
}
#weather-container p {
  align-self: center;
}

#weatherImage {
  width: 4vw;
  align-self: center;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2)); /* Svag skugga */
}

#contact-form {
  display: flex;
  min-width: 50%;
  flex-grow: 1;
  max-height: 100%;
  flex-direction: column;
  margin-left: auto;
  gap: 3px;
  border: clamp(1px, 0.2vw, 2.5px) solid black;
  margin-bottom: 20px;
}

#form-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#contact-input {
  display: flex;
  flex-direction: row;
  margin: 0 3%;
}
#contact-message {
  margin: 0 3%;
}

#contact-message-input {
  width: 100%;
}

#mail-pic {
  display: flex;
  align-self: center;
  justify-self: center;
  padding-left: 1%;
  width: 8vw;
  height: auto;
}

/*<---------------- Media queries ---------------------->*/

@media (min-width: 850px) and (max-width: 1280px) {
  h1 {
    font-size: 3.2rem;
  }

  .fname,
  .lname {
    margin-top: -5px;
    margin-bottom: -20px;
  }
  /* .seperator {
    font-size: 25px;
  } */
  /* #headerbox4 {
    padding: 0% 2% 0% 5%;
  } */
  #headerbox5 h1 {
    font-size: 1.8rem;
  }
  #headerbox4 ul {
    gap: 20px;
  }

  .portfolio-button,
  p,
  label,
  button,
  select,
  input,
  textarea {
    font-size: 1.2rem;
  }
  .nav li a,
  .section-header h2,
  .facts-border h2,
  .form-header h2 {
    font-size: 1.6rem;
  }
  #headerbox4 img {
    width: 30px;
  }
  .main-info {
    padding-left: 3%;
  }
  #knowledge-text ul li {
    font-size: 1.5rem;
    padding-left: 40px;
  }
  #knowledge-text ul li::before {
    font-size: 1.5rem;
  }
}
@media (min-width: 575px) and (max-width: 849px) {
  h1 {
    font-size: 2.6rem;
  }
  .fname,
  .lname {
    margin-top: -5px;
    margin-bottom: -15px;
  }

  /* .seperator {
    font-size: 20px;
  } */
  #headerbox5 h1 {
    font-size: 1.5rem;
  }
  #headerbox4 ul {
    gap: 20px;
  }
  #headerbox4 img {
    width: 25px;
  }

  .portfolio-button,
  p,
  label,
  button,
  select,
  input,
  textarea {
    font-size: 0.9rem;
  }

  .nav li a,
  .section-header h2,
  .facts-border h2,
  .form-header h2 {
    font-size: 1.1rem;
  }
  .main-info {
    padding-left: 3%;
  }
  #knowledge-text ul li {
    font-size: 1rem;
    padding-left: 30px;
  }
  #knowledge-text ul li::before {
    font-size: 1rem;
  }
}

@media (min-width: 401px) and (max-width: 575px) {
  h1 {
    font-size: 1.9rem;
  }

  p {
    font-size: 0.65rem;
  }
  #fname,
  #lname {
    margin-bottom: -8px;
  }
  #headerbox4 img {
    width: 20px;
  }
  #headerbox4 ul {
    gap: 10px;
  }
  /* .seperator {
    font-size: 15px;
  } */
  #headerbox5 h1 {
    font-size: 1rem;
  }
  .main-info {
    padding-left: 3%;
  }

  .portfolio-button,
  p,
  label,
  button,
  select,
  input,
  textarea {
    font-size: 0.7rem;
  }

  .nav li a,
  .section-header h2,
  .facts-border h2,
  .form-header h2 {
    font-size: 0.7rem;
  }

  #knowledge-text ul li {
    font-size: 0.9rem;
    padding-left: 25px;
  }
  #knowledge-text ul li::before {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }

  #fname,
  #lname {
    margin-top: -5px;
    margin-bottom: -5px;
    letter-spacing: -3px;
  }
  #headerbox4 {
    padding-left: 3%;
  }
  #headerbox4 img {
    width: 20px;
  }
  #headerbox4 ul {
    gap: 10px;
  }
  /* .seperator {
    font-size: 15px;
  } */

  #headerbox5 h1 {
    font-size: 1rem;
  }
  .main-info {
    padding-left: 3%;
  }

  .portfolio-button,
  p,
  label,
  button,
  select,
  input,
  textarea {
    font-size: 0.5rem;
  }

  .nav li a,
  .section-header h2,
  .facts-border h2,
  .form-header h2 {
    font-size: 0.6rem;
  }

  #knowledge-text ul li {
    font-size: 0.8rem;
    padding-left: 25px;
  }
  #knowledge-text ul li::before {
    font-size: 0.8rem;
  }
  /*----------Guestbook----------------*/
  #guestbook-entries {
    min-width: 250px;
  }
}

@media (min-width: 666px) and (max-width: 1024px) {
  .container {
    margin-top: 3vh;
    width: 91vw;
    margin-left: 3vw;
  }
}

@media (max-width: 666px) {
  .nav li {
    border-radius: 0 0 10px 10px;
  }
  /*----------Guestbook----------------*/
  #guestbook,
  #contact {
    flex-direction: column-reverse;
  }
  #guestbook-form,
  #contact {
    align-self: flex-end;
    width: 100%;
  }
  #contact-form {
    justify-self: flex-end;
    width: 100%;
  }
  #contact-info {
    width: 100%;
  }
}
@media (min-width: 1921px) {
  body {
    max-width: 1920px;
    margin: 0;
  }
}
