*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #d76447;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  height: 97vh;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Mordak";
  src: url("font/Mordak Regular.otf") format("opentype");
  font-weight: normal;
  unicode-range: U+0020-007E; /* Standard ASCII-tecken */
}

@font-face {
  font-family: "FallbackBold";
  src: url("font/MadimiOne-Regular.ttf") format("truetype");
  font-weight: bolder;
  unicode-range: U+00C5, U+00C4, U+00D6, U+00E5, U+00E4, U+00F6; /* ÅÄÖ i både versaler & gemener */
}

h1,
h2 {
  font-family: "Mordak", "FallbackBold", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 2rem;
}
.p-blue {
  font-weight: bold;
  color: #2f6f8a;
}
.container {
  width: 80vw;
  margin-top: 3vh;
  margin-left: 8vw;
}

.header {
  display: grid;
  grid-template-columns: auto minmax(10px, 1.5fr) 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "headerbox1 headerbox1 headerbox2"
    "headerbox3 headerbox4 headerbox5"
    "headerbox6 headerbox7 headerbox7";
  background-color: #d76447;
}

#headerbox1 {
  grid-area: headerbox1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #306181, #416e8a);
  border-top-right-radius: 100px;
  border-top: 1px solid #45839e;
  gap: 1px;
  outline: 1px solid rgb(0, 0, 0);
  margin-bottom: -1px;
}

#headerbox2 {
  grid-area: headerbox2;
  border-bottom: 1px solid #000000;
  margin-bottom: 0px;
  position: relative;
}
#headerbox3 {
  grid-area: headerbox3;
  border-top: 1px solid #45839e;
  box-shadow: 0 -1px 0 0 #255870;
  background: linear-gradient(to bottom, #1d5672, #33607f);
  width: 3vw;
  position: relative;
}
#headerbox3::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: #d76447;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 50%;
  bottom: -100%; /* Flyttar cirkeln ner så att dess centrum är i boxens hörn */
  left: -100%; /* Flyttar cirkeln åt vänster så centrum hamnar i boxens hörn */

  clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 50%, 50% 50%);
}

#headerbox4 {
  grid-area: headerbox4;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, #265870, #33607f);
  border-bottom: 1px solid #000000;
  border-top: 1px solid #4b7993;
  outline: 1px solid #255870;
  justify-content: center;
  align-items: center;
}

#headerbox4 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#headerbox4 img {
  width: 40px;
}
.seperator {
  font-family: "Arial", "Segoe UI Symbol", "Noto Sans Symbols", sans-serif;
  font-size: 40px;
  /* padding-left: 5%;
  padding-right: 5%; */
  color: #2e5f7e;
  opacity: 0.25; /* Gör texten lite genomskinlig */
  display: inline-block;
  transform: scaleX(3);
  text-shadow: 0.1px 0.4px 0.2px rgba(255, 255, 255, 1),
    /* Skugga nedåt */ -0.1px -0.8px 0.2px rgba(0, 0, 0, 1); /* Ljusare skugga upptill */
  text-align: center;
}

#headerbox5 {
  grid-area: headerbox5;
  height: auto;
  text-align: right;
  align-self: flex-end; /* Flyttar header-right till botten av flexboxen */
  padding: 0 0.5%;
  background: linear-gradient(to bottom, #1d5672, #33607f);
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #45839e;
}

#headerbox5 h1 {
  font-size: 3rem;
  color: #33607f;
  padding-right: 10px;
  -webkit-text-stroke: 0.5px black; /* Tunn kantlinje runt texten */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Tunn skugga */
  letter-spacing: -2px;
}
#headerbox6 {
  grid-area: headerbox6;
}
#headerbox7 {
  grid-area: headerbox7;
  margin-left: 0px;
}

#fname {
  color: #d76447;
  padding-left: 15px;
  margin-top: -5px;
  margin-bottom: -15px;
  text-shadow: -1px -1px 0px #d76447d3;
  letter-spacing: -5px;
  -webkit-text-stroke: 0.9px black;
  position: relative;
}

#lname {
  color: #5a88a3;
  padding-right: 40px;
  margin-top: -5px;
  margin-bottom: -15px;
  text-shadow: -1px -1px 0px #5a88a3;
  letter-spacing: -5px;
  -webkit-text-stroke: 0.9px black;
}

.nav {
  display: flex;
  background-color: #d76447; /* Bakgrundsfärg */
  padding-bottom: 5%; /* Utrymme under elementet */
  border-bottom: 1px solid #000000; /* Linje under navigationslisten */
}

.nav ul {
  display: flex;
  width: 100%;
  list-style: none; /* Tar bort standardpunkterna för listor */
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.nav li {
  background-color: #33607f; /* background: linear-gradient(to bottom, #1d5672, #33607f); */
  border-width: 1px 1px 1px 1px; /* Top, Right, Bottom, Left */
  border-style: solid;
  border-color: black;
  border-top-color: #4f88a1;
  border-radius: 0 0 10px 10px;
  padding: 0px 2%; /* Utrymme runt */
  display: flex; /* Flexbox för att centrera innehållet */
  justify-content: center; /* Centrerar innehållet horisontellt */
  align-items: center; /* Centrerar innehållet vertikalt */
  height: auto; /* Sätt en höjd för att säkerställa korrekt centrerat innehåll 25px */
  min-width: auto; /* Valfritt, beroende på design */
}

.nav li a {
  display: flex; /* Flexbox för länken */
  justify-content: center; /* Centrerar texten horisontellt */
  align-items: center; /* Centrerar texten vertikalt */
  text-align: center; /* Justerar texten */
  height: 100%; /* Tar upp hela höjden av föräldern */
  width: 100%; /* Tar upp hela bredden av föräldern */
  font-family: "Mordak", "FallbackBold", sans-serif;
  font-weight: normal;
  text-decoration: none; /* Tar bort understrykning */
  color: rgb(255, 249, 240); /* Svart färg på texten */
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  background: linear-gradient(to bottom, #2f6f8a, #648391);
  padding: 0px;
  border-top: 1px solid #4f88a1;
}

.nav li a,
.section-header h2,
.facts-border h2,
.form-header h2 {
  font-size: 1.8rem;
}
.section-header h2,
.facts-border h2,
.form-header h2 {
  margin: 0;
  padding-left: 10px;
  color: rgb(255, 249, 240);
}

main {
  background-color: #d76447;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 3vw;
}
.infoandpic {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  background-color: #f8f8f8;
  width: 100%;
}
.me-pic {
  display: flex;
  flex: 3;
}

.me-pic img {
  width: 80%;
  height: auto; /* Bevarar proportionerna */
  display: block; /* Förhindrar att inline-marginal påverkar */
  border: 1px solid #8f8b8b;
  box-sizing: border-box; /* Säkerställer att border räknas med i storleken */
  margin: 10% 0 10% 10%;
  padding: 5px;
}

.main-info {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 5%;
  flex: 7;
}
.main-info p {
  margin-bottom: 10px;
}
.facts-border {
  width: 100%;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #2f6f8a, #648391);
  border: 1px solid black;
  border-top: 2px solid #4f88a1;
  color: rgb(255, 249, 240);
}

.facts {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tre jämnt fördelade kolumner */
  gap: 20px; /* Utrymme mellan kolumnerna */
  border: 1px solid black;
  border-top: none;
  background-color: #f8f8f8;
  width: 100%;
  justify-content: space-around;
  margin: 0px 0;
}
.facts-column {
  padding: 15px;
}
.facts p {
  margin-bottom: 5%;
}
p.orange {
  color: #d76447;
  font-weight: bold;
  margin-bottom: 0;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #d76447;
  text-align: right;
  font-size: 12px;
  color: #1a3d4b;
  padding: 1px 1px 10px 1px;
}

/*<---------------- Referens ---------------------->*/

#guestbook {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  border: 1px solid black;
  padding: 20px;
}

#guestbook-form {
  display: flex;
  /* align-self: flex-end; */
  width: 250px;
  flex-direction: column;
  align-self: flex-start;
  margin-left: auto;
  gap: 10px;
  border: 1px solid #000000;
  margin-bottom: 20px;
}
.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, #2f6f8a, #648391);
  padding: 0px;
  border-top: 1px solid #4f88a1;
}
#guestbook-form label {
  margin-right: 10px;
}
.gender-age-container,
.alias-container {
  display: flex;
  flex-direction: row;
  margin: 0 3%;
}
.message-container {
  display: flex;
  flex-direction: column;
  margin: 0 3%;
}
.gender-age-container {
  display: flex;
  gap: 10px;
}
.age-container {
  display: flex;
  flex: 1;
}
#name,
#age,
#gender {
  width: 100%; /* Gör att de fyller sin container */
}
.gender-container {
  display: flex;
  flex: 1;
}
.button-container {
  display: flex;
  justify-content: right;
}
.submit-button {
  background: #d76447;
  color: #fff;
  border: none;
  border-radius: 10px 0 0 0;
  cursor: pointer;
  background: linear-gradient(to bottom, #2f6f8a, #648391);
  padding: 0 5px;
  border-top: 1px solid #4f88a1;
  font-size: 1rem;
  font-family: "Mordak", sans-serif;
  font-weight: normal;
  margin: 0;
  color: rgb(255, 249, 240);
}
.form-label {
  font-size: 0.8rem;
  font-weight: bold;
  color: #d76447;
}
/*--------------------Referens entries----------------------*/

#guestbook-entries {
  height: 310px;
  min-width: 275px;
  overflow-x: hidden;
  overflow-y: auto;
}
.inline-p {
  display: inline;
}

#entries-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.guestbook-entry {
  display: flex;
  background: #f8f8f8;
  margin-bottom: 10px;
}

.profile-pic {
  max-width: 70px;

  max-height: 87px;
  object-fit: cover; /* Behåller proportioner */
  flex-shrink: 0; /* Hindrar att flexbox skalar upp bilden */
  margin-right: 10px;
  border: solid 1px #000000;
}

.entry-content {
  flex: 1;
  width: auto; /* Tar upp så mycket plats som behövs */
  max-width: 293px; /* Sätter en maxbredd */
  word-wrap: break-word; /* Ser till att text bryts om den blir för bred */
}
.alias {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2f6f8a;
}
/*-------------Kunskap-----------------------------*/
#knowledge {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border: 1px solid black;
  padding: 20px;
}
#text-and-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
#knowledge-text p {
  margin-bottom: 20px;
}
/* #knowledge-text ul li::marker {
  color: #2f6f8a; 
  font-size: 25px; 
} */
#knowledge-text ul {
  list-style: none; /* Tar bort standardprickarna */
  padding-left: 0; /* Tar bort extra indrag */
}
#knowledge-text ul li {
  position: relative;
  font-size: 2rem;
  padding-left: 55px; /* Skapar utrymme för symbolen */
}
#knowledge-text ul li::before {
  content: "</>"; /* Lägg till den anpassade symbolen */
  position: absolute;
  left: 0;
  font-size: 2rem;
  color: #2f6f8a; /* Ändra färg vid behov */
  font-weight: bold;
}

#knowledge-pic {
  display: flex;
  width: 50%;
  height: auto;
  object-fit: contain;
  margin-left: auto;
}

/*-------------Kontakt-----------------------------*/
#contact {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  background-color: #f8f8f8;
  padding: 20px;
  width: 100%;
  height: 100%;
}
#contact-info {
  display: flex;
  flex-direction: column;
}
.contact-row {
  display: flex;
  flex-direction: row;
}
.margin-p {
  margin-left: 3%;
}
#linkedin-weather-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3%;
  height: 100%;
  margin-top: 3%;
}
#weather-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  /* border: 1px solid black; */
  padding: 10px;
  width: 200px;
}
#weather-container p {
  align-self: center;
}

#weatherImage {
  width: 50px;
  align-self: center;
}

#linkedin-logo {
  width: 100px;
}
#contact-form {
  display: flex;
  align-self: flex-start;
  margin-left: auto;
  flex-direction: column;
  width: 250px;
  gap: 10px;
  border: 1px solid #000000;
  margin-bottom: 20px;
}
#form-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#contact-input {
  display: flex;
  flex-direction: row;
  /* width: auto; */
  margin: 0 3%;
}
#contact-message {
  margin: 0 3%;
}
#message {
  width: 100%;
}
/* #mail-icon-container {
  display: flex;
  align-items: end;
} */
#mail-icon {
  display: flex;
  align-self: center;
  justify-self: center;
  padding-left: 3%;
  width: 60px;
  height: auto;
}

/*<---------------- Media queries ---------------------->*/
@media (min-width: 850px) and (max-width: 1280px) {
  body {
    height: 90vh;
  }
  h1 {
    font-size: 3.2rem;
  }
  .container {
    margin-top: 10vh;
  }
  p {
    font-size: 1.2rem;
  }
  .fname,
  .lname {
    margin-top: -5px;
    margin-bottom: -20px;
  }
  .seperator {
    font-size: 25px;
  }
  #headerbox4 {
    padding: 0% 2% 0% 5%;
  }
  #headerbox5 h1 {
    font-size: 1.8rem;
  }
  #headerbox4 ul {
    gap: 20px;
  }
  .nav li a,
  .section-header h2,
  .facts-border h2,
  .form-header h2 {
    font-size: 1.3rem;
  }
  #headerbox4 img {
    width: 30px;
  }
  .main-info {
    padding-left: 3%;
  }
  #knowledge-text ul li {
    font-size: 1.5rem;
    padding-left: 40px;
  }
  #knowledge-text ul li::before {
    font-size: 1.5rem;
  }
}
@media (min-width: 575px) and (max-width: 849px) {
  body {
    height: 90vh;
  }
  h1 {
    font-size: 2.6rem;
  }
  .container {
    margin-top: 10vh;
    width: 80vw;
    margin-left: 8vw;
  }
  .fname,
  .lname {
    margin-top: -5px;
    margin-bottom: -15px;
  }
  p {
    font-size: 0.9rem;
  }
  .seperator {
    font-size: 20px;
  }
  #headerbox5 h1 {
    font-size: 1.5rem;
  }
  #headerbox4 ul {
    gap: 20px;
  }
  #headerbox4 img {
    width: 25px;
  }
  .nav li a,
  .section-header h2,
  .facts-border h2,
  .form-header h2 {
    font-size: 0.9rem;
  }
  .submit-button {
    font-size: 0.8rem;
  }
  .alias {
    font-size: 1rem;
  }
  .main-info {
    padding-left: 3%;
  }
  #knowledge-text ul li {
    font-size: 1rem;
    padding-left: 30px;
  }
  #knowledge-text ul li::before {
    font-size: 1rem;
  }
}

@media (min-width: 401px) and (max-width: 575px) {
  body {
    height: 90vh;
  }
  h1 {
    font-size: 2rem;
  }
  .container {
    margin-top: 10vh;
    width: 90vw;
    margin-left: 3vw;
  }

  p {
    font-size: 0.65rem;
  }
  #fname,
  #lname {
    margin-bottom: -8px;
  }
  #headerbox4 img {
    width: 20px;
  }
  #headerbox4 ul {
    gap: 10px;
  }
  .seperator {
    font-size: 15px;
  }
  #headerbox5 h1 {
    font-size: 1rem;
  }
  .main-info {
    padding-left: 3%;
  }
  .nav li a,
  .section-header h2,
  .facts-border h2,
  .form-header h2 {
    font-size: 0.7rem;
  }
  .submit-button {
    font-size: 0.8rem;
  }
  .alias {
    font-size: 0.8rem;
  }
  .form-label {
    font-size: 0.7rem;
  }
  #knowledge-text ul li {
    font-size: 0.9rem;
    padding-left: 25px;
  }
  #knowledge-text ul li::before {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  body {
    height: 90vh;
  }
  h1 {
    font-size: 1.6rem;
  }

  .container {
    margin-top: 10vh;
    width: 90vw;
    margin-left: 3vw;
  }

  p {
    font-size: 0.6rem;
  }
  #fname,
  #lname {
    margin-top: -5px;
    margin-bottom: -5px;
    letter-spacing: -3px;
  }
  #headerbox4 {
    padding-left: 3%;
  }
  #headerbox4 img {
    width: 20px;
  }
  #headerbox4 ul {
    gap: 10px;
  }
  .seperator {
    font-size: 15px;
  }

  #headerbox5 h1 {
    font-size: 1rem;
  }
  .main-info {
    padding-left: 3%;
  }
  .nav li a,
  .section-header h2,
  .facts-border h2,
  .form-header h2,
  .submit-button {
    font-size: 0.6rem;
  }
  .alias {
    font-size: 0.7rem;
  }
  .form-label {
    font-size: 0.6rem;
  }
  #knowledge-text ul li {
    font-size: 0.8rem;
    padding-left: 25px;
  }
  #knowledge-text ul li::before {
    font-size: 0.8rem;
  }
}

@media (min-width: 666px) and (max-width: 1024px) {
  body {
    height: 97vh;
  }
  .container {
    margin-top: 3vh;
    width: 90vw;
    margin-left: 3vw;
  }
}
@media (max-width: 666px) {
  /*----------Guestbook----------------*/
  #guestbook,
  #contact {
    flex-direction: column-reverse;
  }
  #guestbook-form,
  #contact {
    align-self: flex-end;
  }
}
